<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EAT">
    <insert id="insertEat">
        insert into EAT (category, fdname, price, writer, star, tel, review, photo)
        values (#{category}, #{fdname}, #{price}, #{writer}, #{star}, #{tel}, #{review}, #{photo})
    </insert>
    <update id="updateEat">
        update EAT
        set category=#{category}, fdname=#{fdname}, price=#{price}, writer=#{writer}, star=#{star}, tel=#{tel}, review=#{review}, photo=#{photo}
        where seq=#{seq}
    </update>
    <delete id="deleteEat">
        delete from EAT where seq=#{seq}
    </delete>
    <select id="getEat" resultType="board">
        select * from EAT where seq=#{seq}
    </select>
    <select id="getEatList" resultType="board">
        select * from EAT order by seq desc
    </select>
</mapper>